*{
padding: 0px; 
margin: 0px;
background-image: url(toddleswim.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.wrapper{
   width: 100%;
   height: auto;
   padding: 0px 0px;
}
.nav ul li {
   list-style: none;
   display: inline-block;
}
.nav ul li a {
   display: block;
   padding: 10px; 
   color:white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
   position: relative;
   float: right
}
.about-us {
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
   position: absolute;
   top: 20%;
   left: 15%;
   transform: translate(-50%,-50%);
   color: darkblue; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 15px;
   text-align: center;
   outline: 2px solid coral;
}
.slide-image {
   border-radius: 30px;
   position: fixed ;
   bottom: 30px;
   left: 10px;
   height: 450px;
   width: 100px;
  outline: 4px solid wheat;
}


