*{
   padding: 1px; 
   margin: 1px;
}
.wrapper{
   width: 100%;
   height: auto;
   padding: 0px 0px;
}
.nav ul li {
   list-style: none;
   display: inline-block;
}
.nav ul li a{
   display: block;
   padding: 10px; 
   color:white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
   position: relative;
   float: right
}
.about-us {
   border-radius: 10px;
   position: absolute;
   top: 20%;
   left: 15%;
   transform: translate(-50%,-50%);
   color: wheat; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 15px;
   text-align: center;
   outline: 2px solid coral;
}
.slide-image {
   border-radius: 30px;
   position: fixed ;
   bottom: 10px;
   left: 10px;
   height: 550px;
   width: 100px;
  outline: 4px solid wheat;
}


